body{
    text-align: center;
    padding: 15%;
}
.here{
    font-size: 100px;
    display: inline-flex;
    background: black;
    color: white;
    margin:5px;
    padding: 10px 20px;
}

.six,.five,.four,.three,.two,.one{
    padding: 10px;
    margin: 15px;
}